* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 10px;
    background-color: #0E1C36;

}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #afcbff;
    display: inline-block;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: #afcbff;
}

a:link {
    color: #afcbff;
}
a:visited  {
    color: #afcbff;
}

a:hover {
    color: #9b5094;
}

body {
background-color: #ffede1;
}

section {
    display: flex;
    justify-content: center;

}

main img {
    padding: 0px 10px 0px 10px;
    height: 300px

}

main h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #65655E
}

.sec {
    margin-bottom: 1em;
    padding: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

sec img {
    height: 20em;
    width: 100%;
}

#ws  {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    flex-wrap: wrap;
}

.proj {
    flex: 1 0 15%;
    padding: 1em;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background: #0E1C36;
    color: #afcbff;
}

.proj:hover {
    background: #9b5094;
}

#firstProj {
    flex: 1 0 40%;
}

@media screen and (max-width: 800px) {
    header, nav {
        flex-direction: column;
        justify-content: center;
    }
    
}